.home-container {
  display:flex;
  min-height: 85vh;
  min-width: 100%;
  position: relative;
  z-index: 2;
}
.home-lazyload-low-res {
  z-index: -3;
  background: url('../imgs/mountain-top-1080.jpg');
}
.home-lazyload-mid-res {
  z-index: -2;
  background: url('../imgs/mountain-top-1920.jpg');
}
.home-lazyload-high-res {
  z-index: -1;
  background: url('../imgs/mountain-top-4k.jpg');
}
.home-lazyload-low-res, .home-lazyload-mid-res, .home-lazyload-high-res {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.hero-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
  background-attachment: fixed;
  min-height: 85vh;
  min-width: inherit;
}
.home-text {
  min-height: inherit;
}
.home-title {
  color: white;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  font-size: 3.8rem;
  margin-top: 0;
  margin-bottom: 1.8rem;
  padding-top: 29vh;
  animation: fadeInDown 1s;
}

.home-description-container {
  display: flex;
  justify-content: center;
  animation: fadeInUp 1s;
}

.home-normal-text, .home-typing-text {
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  animation: fadeInUp 1s;
}
.home-blinking-cursor {
  margin-left: 0.1rem;
  animation: blinking 1s infinite;
}

.home-arrow-container {
  align-items: center;
  margin: auto;
  height: 4rem;
  width: 4rem;
  margin-top: 13rem;
}
.home-arrow-container:hover {
  transform: translateY(-5px);
}
.home-arrow-container:hover .expand-more-icon {
  fill: #fff;
}
/*portrait screens*/
@media only screen and (max-height: 850px) {
  .home-arrow-container {
    margin-top: 9rem;
  }
}
/*landscape screens*/
@media only screen and (max-height: 420px) {
  .home-arrow-container {
    margin-top: 2rem;
  }
}

.expand-more-icon {
  height: 4rem;
  width: 4rem;
  fill: #ccc;
  cursor: pointer;
  animation: fadeInDown 1s forwards;
  opacity: 0;
  animation-delay: 0.8s;
}

@keyframes fadeInDown{
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInUp{
  0% {
    opacity: 0;
    transform: translateY(400%)
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes blinking {
  0%{color: #fff;}
  49%{color: #fff;}
  60%{color: transparent;}
  99%{color:transparent;}
  100%{color: #fff;}
}