.about-container .about-inner-container{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  padding: 3rem 0;
}
.about-inner-container {
  flex-direction: column;
  min-width: 0%;
  max-width: 35rem;
}
.about-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-user-select: none;
}
.about-description {
  text-align: center;
  -webkit-user-select: none;
  line-height: 1.6;
  max-width: 35rem;
  padding: 0 1rem;
}
.about-link {
  text-decoration: none;
  font-weight: 600;
  color: #0077b5;
}
.about-link:visited {
  color: #005481;
}