.nav-container {
  display: flex;
  padding: 1rem 0;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  background: transparent;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  height: 3.35rem;
  z-index: 999;
}
.nav-inner-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav-logo {
  float: left;
}
.nav-links {
  float: right;
}

.nav-items, .logo {
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
}

.nav-items:hover {
  color: #ccc;
}

.nav-collapse {
  background: black;
  padding: 0.2rem 0;
}

.hamburger-box {
  visibility: hidden;
}

/* mobile nav and small screens*/
@media only screen and (max-width: 700px) {
  .nav-container {
    background: black;
    padding: 0.2rem 0;
  }
  .nav-inner-container {
    width: 100%;
  }
  .nav-links {
    float: none;
    max-height: 0px;
    min-width: 100%;
    padding: 0;
    background: black;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  .nav-items {
    padding: 1rem 3rem;
    margin: auto;
    display: block;
    text-align: center;
  }
  .menu-open + .nav-links {
    transition: max-height 0.4s ease-in-out;
    max-height: 600%;
  }

  .logo {
    margin-left: 1rem;
  }
  .hamburger-box {
    margin-right: 1rem;
    float: right;
    width: 1.7rem;
    border-radius: 100vh;
    cursor: pointer;
    padding: 1.5rem 1rem;
    visibility: visible;
  }
  .hamburger {
    position: relative;
    display: block;
  }
  .hamburger, .hamburger::before, .hamburger::after {
    width: 1.65rem;
    height: 0.1875rem;
    background: white;
    transition-property: transform opacity background-color;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
  }
  .hamburger::before, .hamburger::after {
    position: absolute;
    content: '';
    left: 0;
  }
  .hamburger::before {
    bottom: 0.5rem;
  }
  .hamburger::after {
    top: 0.5rem;
  }

  /* Hamburger hover animation*/
  .hamburger-box:hover .hamburger {
    animation: slide 1.5s infinite 0.2s;
  }
  .hamburger-box:hover .hamburger::after {
    animation: slide 1s infinite 0.5s;
  }
  .hamburger-box:hover .hamburger::before {
    animation: slide 2s infinite;
  }
  @keyframes slide {
    0% {
      width: 1.65rem;
    }
    50% {
      width: 0.7rem;
    }
    100% {
      width: 1.65rem;
    }
  }

  /* Open Menu and change Hamburger to an X*/
  .menu-open .hamburger {
    background-color: transparent;
    transform: rotate(180deg);
    animation: none;
  }
  .menu-open .hamburger::before {
    transform: translateY(8px) rotate(-45deg);
    animation: none;
  }
  .menu-open .hamburger::after {
    transform: translateY(-8px) rotate(45deg);
    animation: none;
  }
  .menu-open .hamburger-box:hover .hamburger {
    animation: none;
  }
  .menu-open .hamburger-box:hover .hamburger::before {
    animation: none;
  }
  .menu-open .hamburger-box:hover .hamburger::after {
    animation: none;
  }

}