.project-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  z-index: 1000;
  overflow-y: auto;
  display: none;
  --speed: 0.3s;
}
.overlay-active {
  display: block;
}

.project-overlay .backdrop {
  background-color: rgba(1,1,1,0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  z-index: -1;
  opacity: 0;
  animation: fadeIn var(--speed) forwards;
}
@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
.project-overlay .backdrop-active {
  animation: fadeOut var(--speed) forwards;
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.project-overlay .content-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  /* height: 50rem; */
  width: auto;
  margin: 10px;
  margin-top: 5rem;
  z-index: 10;
  overflow-y: auto;
  animation: slideInFromTop var(--speed) forwards;
}
@keyframes slideInFromTop {
  0% { transform: translateY(-100%) }
  100% {transform: translateY(0%) }
}
.project-overlay .content-overlay-active {
  animation: slideOutToTop var(--speed) forwards;
}
@keyframes slideOutToTop {
  0% { transform: translateY(0%) }
  100% {transform: translateY(-100%) }
}

.modal-header {
  padding: 1rem;
  display: flex;
  background-color: #F0F0F0;
}
.modal-header .project-title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
}
.modal-header .close-modal-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: grey;
}
.modal-image-container {
  margin: 1rem;
}
.modal-image {
  width: 100%;
}
.modal-description {
  margin: 2rem 10%;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.4rem;
}
.modal-link-container {
  margin: 1rem 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.modal-link {
  text-decoration: none;
  color: #3094ce;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.modal-link:hover {
  color: white;
  background-color: #3094ce;
}
.modal-link:active {
    filter: brightness(90%)
}
.modal-link:focus {
  outline-color: #3094ce;
}

@media only screen and (min-width: 700px) {
  .project-overlay .content-box {
    margin: 5rem auto;
    width: 40rem;
  }
}

