.project-card-container {
  z-index: 10;
  border-radius: 1vh;
  box-sizing: border-box;
  background: lightgrey;
  overflow: hidden;
  width: 100%;
  max-width: 20rem;
  height: 13.5rem;
  position: relative;
  margin: 1rem;
}
@media only screen and (min-width: 1200px) {
  .project-card-container {
    max-width: 25rem;
    height: 16.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .project-card-container {
    margin: 0.4rem;
    margin-bottom: 1rem;
  }
}

.project-card-image {
  width: inherit;
  height: inherit;
  z-index: -10;
  position: absolute;
}
.project-card-overlay {
  height: inherit;
  width: inherit;
  position: absolute;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.project-card-overlay:hover {
  background-color: rgba(20, 20, 20, 0.6);
}

.project-card-title {
  background-color: black;
  width: inherit;
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 1px;
  padding: 0.5rem 0;
}
.project-card-overlay:hover .project-card-title {
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.icon-visible {
  text-align: center;
  position: absolute;
  opacity: 0;
  color: white;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
  top: -1rem;
  left: 0;
  right: 0;
  padding: 0 1rem;
}
.project-card-overlay:hover .icon-visible {
  top: 40%;
  left: 0;
  right: 0;
  opacity: 1;
}