.project-card-container {
  z-index: 10;
  border-radius: 5px;
  box-sizing: border-box;
  background: lightgrey;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  max-width: 29%;
  transition: 0.5s ease-in-out;
}
@media only screen and (max-width: 900px) {
  .project-card-container {
    max-width: 44%;
  }
}
@media only screen and (max-width: 700px) {
  .project-card-container {
    max-width: 48%;
    margin: 0.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .project-card-container {
    margin: 0;
    margin-bottom: 0.2rem;
    max-width: 90%;
  }
}

.project-card-image {
  z-index: -10;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.project-card-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.project-card-overlay:hover {
  background-color: rgba(20, 20, 20, 0.6);
}

.project-card-title {
  position: absolute;
  background-color: #3094ce;
  color: white;
  bottom: -2rem;
  left: 0;
  right: 0;
  width: inherit;
  opacity: 0;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 0;
  transition: 0.3s ease-in-out;
}
.project-card-overlay:hover .project-card-title {
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.icon-visible {
  text-align: center;
  position: absolute;
  opacity: 0;
  color: white;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
  top: -1rem;
  left: 0;
  right: 0;
  padding: 0 1rem;
}
.project-card-overlay:hover .icon-visible {
  top: 40%;
  left: 0;
  right: 0;
  opacity: 1;
}