.projects-outer-container {
  z-index: 2;
}
.projects-id-container {
  transform: translateY(-15vh);
}
@media only screen and (max-height:850px) {
  .projects-id-container {
    transform: translateY(-17vh);
  }
}
@media only screen and (max-height:600px) {
  .projects-id-container {
    transform: translateY(-25vh);
  }
}

.projects-container {
  display:flex;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  background-color: white;
  margin-top: 0rem;
  position: relative;
}
.projects-container::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0rem;
  background: white;
  width: 100%;
  height: 10rem;
  transform: skewY(-3deg);
  transform-origin: left;
  transition: transform-origin 0.1s linear;
  z-index: 1;
}
.angle-end::before {
  transform: skewY(3deg);
  transform-origin: right;
}

.projects-title {
  font-family: 'Lato', sans-serif;
  margin: 1rem;
  float: left;
  visibility: hidden;
  transform: translateY(-6vw);
  z-index: 10;
}
.projects-title-visible {
  visibility: visible;
}